* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.fontW-normal {
    font-weight: normal;
}

.dsp-flex {
    display: flex;
}

.dsp-grid {
    display: grid;
}

.grid-template-colum-2 {
    grid-template-columns: 1fr 1fr;
}

.position-absolute{
    position: absolute;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.space-between {
    justify-content: space-between;
}

.list-style-none {
    list-style: none;
}

.text-decoration-none {
    text-decoration: none;
}

.plc-center {
    place-items: center;
}

.align-center {
    align-items: center;
}